release_tag:
  stage: build
  image: docker.io/tobiashvmz/pve-cloud-ci:2025122115
  script:
    - /scripts/release-tag.sh
  rules:
    - if: '$CI_COMMIT_TAG =~ /^release-[a-z]+$/'
    - if: '$CI_COMMIT_TAG =~ /^release-all-[a-z]+$/'
  resource_group: deploy-prod

release_image:
  stage: deploy
  image:
    name: gcr.io/kaniko-project/executor:v1.13.0-debug
    entrypoint: [""]
  script:
    # exit if ci vars are not defined for building
    - |
      if [ -z $DOCKER_AUTH_CONFIG_B64 ]; then
        echo "Docker auth ci variable not defined!"
        exit 0
      fi
    - echo $DOCKER_AUTH_CONFIG_B64 | base64 -d > /kaniko/.docker/config.json
    - echo "__version__ = \"$CI_COMMIT_TAG\"" > src/pve_cloud_backup/_version.py # dynamic versioning
    - /kaniko/executor
      --context "${CI_PROJECT_DIR}"
      --dockerfile "${CI_PROJECT_DIR}/Dockerfile"
      --destination "tobiashvmz/pve-cloud-backup:$CI_COMMIT_TAG"
  rules:
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/'


publish_pypi:
  stage: deploy
  image:
    name: python:alpine3.19
  script:
    # exit if ci vars are not defined for building
    - |
      if [ -z $PYPI_TOKEN ]; then
        echo "Pypi token ci variable not defined!"
        exit 0
      fi
    - pip install build==1.3.0 twine==6.2.0
    - echo "__version__ = \"$CI_COMMIT_TAG\"" > src/pve_cloud_backup/_version.py # dynamic versioning
    - python3 -m build
    - python3 -m twine upload dist/* -u __token__ -p $PYPI_TOKEN # skip gitlab oidc twine feature with -u and -p flags
  rules:
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/' # semver


downstream_pve_cloud:
  stage: deploy
  trigger:
    project: "pve-cloud/pve_cloud"
  variables:
    PVE_CLOUD_BACKUP: $CI_COMMIT_TAG
    UPSTREAM_TAG_MESSAGE: $CI_COMMIT_TAG_MESSAGE # here we store the type of the release
  rules:
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/' # semver


downstream_tf_backup_module:
  stage: deploy
  trigger:
    project: "pve-cloud/terraform-pxc-backup"
  variables:
    PVE_CLOUD_BACKUP: $CI_COMMIT_TAG
    UPSTREAM_TAG_MESSAGE: $CI_COMMIT_TAG_MESSAGE # here we store the type of the release
  rules:
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/' # semver