[build]
build_commands = [
  [
    "docker", "build", "--build-arg", "LOCAL_PYPI_IP=$REGISTRY_IP",
    ".", "-t", "$REGISTRY_IP:5000/pve-cloud-backup:$VERSION"
  ],
  [
    "docker", "push", "$REGISTRY_IP:5000/pve-cloud-backup:$VERSION"
  ],
  [
    "rm", "-rf", "dist/"
  ],
  [
    "python", "-m", "build"
  ],
  [
    "twine", "upload", "--repository-url", "http://$REGISTRY_IP:8088/",
    "--username", "doesnt", "--password", "matter",
    "dist/py_pve_cloud_backup-$VERSION.tar.gz", "dist/py_pve_cloud_backup-$VERSION-py3-none-any.whl"
  ]
]
version_py_path = "src/pve_cloud_backup/_version.py"

[redis]
version_key = "version.pve-cloud-backup"
sub_rebuild_keys = []
env_key_mapping = {}